<%- include('partials/header') %>

<%- include('components/navbar',{isLoggedIn:isLoggedIn,home:false,wishlist:false,history:false,faq:true}) %>

<div x-data="{modify:false}" class="flex-grow">

    <div class="container mt-6">
        <h1 class="page-title">FAQs</h1>

        <div class="container mx-auto mt-8 w-11/12 lg:w-1/2 text-center">
            <% if(!faqs||faqs.length===0){ %>
               <a href="/create-faq" class="mx-auto">
                   <button class="p-3 bg-[#D53715] text-white hover:bg-[#D53715]/80">Add FAQs</button>
               </a> 
            <% } else {%>

                <!-- Add faq -->
                <template x-if="modify">
                    <a href="/create-faq"><button class="p-3 bg-[#D53715] text-white hover:bg-[#D53715]/80">
                        New Question
                    </button></a>
                </template>

                <div class="container">
                    <% faqs.forEach(function(faq){ %>
                        <div class="faq block text-left">
                            <div class="max-w-lg mx-auto">
                                <details class="py-3 px-2 marker:content-['+'] marker:before:mx-2 marker:open:content-['—'] marker:text-2xl marker:open:text-xl
                                marker:open:font-medium">
                                  <summary class="text-xl text-slate-900 font-medium select-one">
                                      <%=faq.title%>
                                      <template x-if="modify">
                                        <div class="mt-2 flex items-center space-x-6 text-base font-mono text-medium">
                                            <a href="/create-faq/<%= faq._id %>/edit" class="text-sky-500 no-underline">Edit</a>
                                            <a href="/create-faq/<%= faq._id %>/delete" class="text-red-500 no-underline">Delete</a>
                                        </div>
                                    </template>
                                    </summary>
                                  <div class="my-2 font-medium text-slate-600">
                                    <span><%=faq.content%></span>
                                  </div>
                                </details>
                            </div>
                        </div>
                    <% }) %>
                </div>

            <% } %>
        </div>
    </div>

    <!-- modify button -->
    <button
    @click="modify=!modify"
     class="m-5 p-3  origin-bottom-right fixed bottom-14 right-0 z-20 bg-pale-pink rounded-full">
        <!-- box icons edit-->
        <svg class="w-8 h-8 fill-cordovan" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24""><path d="m18.988 2.012 3 3L19.701 7.3l-3-3zM8 16h3l7.287-7.287-3-3L8 13z"></path><path d="M19 19H8.158c-.026 0-.053.01-.079.01-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .896-2 2v14c0 1.104.897 2 2 2h14a2 2 0 0 0 2-2v-8.668l-2 2V19z"></path></svg>
    </button>

</div>

<%- include('components/bottom-bar') %>

<%- include('partials/footer') %>
